<div class="container"> 
    <h1> <%= title  %> </h1>
    </div>


 <div class="container">

    <div class="row">
        <div class="col-sm-6">
          <div class="card" style="width:230px">
            <img class="card-img-top" src="./Assets/images/sayed.jpg" alt="Image"width="10" height="250">
            <div class="card-body">
                <h4 class="card-title">Sayed Fayaz</h4>
                <p class="card-text">Software Developer</p>
                <a href="/Assets/images/SayedFayaz_Resume.pdf" class="btn btn-info">Resume</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-header">
                  Web Application Development | Python | Machine Learning
                </div>
                <div class="card-body">
                  <h5 class="card-title">PROFILE:</h5>
                  <p class="card-text"> 
                    Student of Software Engineering - Artificial Intelligence, knowledgeable in machine learning, big 
                    data tools, web design and software development. An analytical and goal-driven problem solver.
                    Multilingual with fluency in English, Pashto, Dari/Persian, Urdu, and Hindi</p>
                </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>