<div class="container"> 
    <h1> <%= title  %> </h1>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">You can reach me out via</h5>
        <p class="card-text">Phone: +1647-687-3262.</p>
        <p class="card-text">Email: fayab.fayaz@gmail.com.</p>
        <a href="https://www.linkedin.com/in/sayed-fayaz/" class="card-link">LinkedIn</a>
        <a href="#" class="card-link">Indeed</a>
      </div>
    </div>


    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Your First Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="first name">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Your Last Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="last name">
    </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="button" class="btn btn-info">Submit</button>
    </div>
   