<div class="container"> 
    <h1> <%= title  %> </h1>
</div>




<div class="container">


       
          <div class="card" style="width:700px">
           <div class="card text-center">

                <div class="card-headerm bg-info">
                  <h3> Welcome to Sayed Fayaz Portfolio Website </h3>
                </div>
                <div class="card-body " >
                  <h4 class="card-title"> Mission Statement</h4>
                  <p class="card-text">My mission is to enhance business growth of our customers with creative design, 
                    development and to deliver market defining high quality solutions that create value and reliable 
                    competitive advantage to customers around the globe.</p>
                 
                </div>
                <div class="card-footer text-muted bg-warning">
                  Thanks for visiting my website 
                </div>
              </div>
              </div>
            </div>
            </div>
            </div>
    
         
</div>  


<div class=" container">
    <a href="http://localhost:3000/about" class="btn btn-info">About me</a>
    <a href="http://localhost:3000/projects" class="btn btn-success">Projects</a>
    <a href="http://localhost:3000/services" class="btn btn-danger">Services</a>
    <a href="http://localhost:3000/contact" class="btn btn-warning">Contacts</a>
</div>