<div class="container"> 
    <h1> <%= title  %> </h1>


    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Web application Development</h5>
            <small>Web</small>
          </div>
          <p class="mb-1">I can design, develop and deploy websites and web applications according to your choice and business need.</p>
          <small>I am using the latest technology for web development such as javaScript, HTML,CSS and REACT.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Mobile App development</h5>
            <small class="text-muted">Mobile</small>
          </div>
          <p class="mb-1">I develop mobile application for IOS and android.</p>
          <small class="text-muted">I am using java for writing mobile application.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Machine Learning</h5>
            <small class="text-muted">Machine Learning</small>
          </div>
          <p class="mb-1">Prepare data, build, and optimize predictive models in Python.</p>
          <small class="text-muted">collecting data, cleaning data, modeling, training data using machine learning algorithms with python libraries.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Database development</h5>
              <small class="text-muted">Database</small>
            </div>
            <p class="mb-1">designing and developing SEQUEL and NOSEQUEL database  .</p>
            <small class="text-muted">I am able to use and create database with Oracle SQL Developer, and SQL Server, mongo DB .</small>
          </a>
      </div>
    </div>
    